.footer a 
{
    text-emphasis-color: rgb(101, 105, 104);
    
}
.footer 
{
    background-color: rgb(98, 106, 216);
}


.footer ul
{
    display: inline-block;
    position: relative;
}


.footer li
{
    display:table;
    
  
}
.footer nav
{
position: relative;
}








