body
{
    background-color: rgb(200, 200, 200);
}

.header nav 
{
   display: inline;
}

.header .highest_row h1
{
    display: inline;
}

.header .highest_row h2
{
    font-size: 70%;
    display: inline;
    text-shadow:  rgb(0, 0, 0) 0px 0px;
}
.header .highest_row
{
    background-color: rgb(25, 25, 25);
    color: rgb(100, 100, 100);
}
.header a
{
    color: rgb(100, 100, 100);
}
.header .forms
{
    background-color: blue;
}
.header .forms form
{
    display: inline;
}
.header h2
{
    color: grey;
   text-shadow: rgb(230, 230, 230) 1px 0px, rgb(230, 230, 230) 1px 1px,
   rgb(230, 230, 230) 0px 1px, rgb(230, 230, 230) -1px 1px,
   rgb(230, 230, 230) -1px 0px, rgb(230, 230, 230) -1px -1px,
   rgb(230, 230, 230) 0px -1px, rgb(230, 230, 230) 1px -1px;
}
.header figure img
{
    width: 98vw;
}
.header figure
{
    margin-left: 0em;
}
.header figure figcaption
{
    color			: white;
	font			: bold 24px/45px Helvetica, Sans-Serif;
	letter-spacing	: -1px;
	background		: rgb(0, 0, 0); /* на случай, если следующая строка не сработает */
	background		: rgba(0, 0, 0, 0.7);
    padding			: 10px;
    position    	: absolute;
	top		        : 200px;
	right	    	: 100px;
    padding-left    : 1vw;
}