body
{
    background-color: rgb(200, 200, 200);
}

.header nav 
{
   display: inline;
}

.header .highest_row h1
{
    display: inline;
}

.header .highest_row h2
{
    font-size: 70%;
    display: inline;
}
.header .highest_row
{
    background-color: rgb(25, 25, 25);
    color: rgb(100, 100, 100);
}
.header a
{
    color: rgb(100, 100, 100);
}
.header .forms
{
    background-color: blue;
}
.header .forms form
{
    display: inline;
}
.header h2
{
    color: grey;
   text-shadow: rgb(230, 230, 230) 1px 0px, rgb(230, 230, 230) 1px 1px,
   rgb(230, 230, 230) 0px 1px, rgb(230, 230, 230) -1px 1px,
   rgb(230, 230, 230) -1px 0px, rgb(230, 230, 230) -1px -1px,
   rgb(230, 230, 230) 0px -1px, rgb(230, 230, 230) 1px -1px;
}
.header figure img
{
    width: 98vw;
}
.header figure
{
    margin-left: 0em;
}
.header figure figcaption
{

}