.header nav 
{
    color: rgb(97, 97, 97);
    display: inline;
    margin-right: 10%;
}

.header h1
{
    color: rgb(97, 97, 97);
    display: inline;
}

.header h2
{
    font-size: 70%;
    color: rgb(97, 97, 97);
    display: inline;
}
.header .highest_row
{
    background-color: rgb(22, 22, 22);
}
.header a
{
    color: rgb(97, 97, 97);
}
.header .forms
{
    background-color: blue;
}
.header .forms form
{
    display: inline;
}
.header figure
{
    margin: 0%;
    inline-size: 90vw;
}